.container{
    
    
    min-height: 500px;
    min-width: 500px;

}
.grid-item{
    
    border: 0.5px solid;
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 40px;   
}
